<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Logueo</title>
      <link rel="stylesheet" href="/css/styles.css" />
      <script src="https://kit.fontawesome.com/9a95f588d1.js" crossorigin="anonymous"></script>
   </head>
   <body>
      <header>
         <div class="top-header">
            <div class="caja_logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="" /></a>
            </div>
            <form class="search">
                <input type="search" placeholder="Buscar productos, marcas y algo mas..." />
                <button class="lupa"><i class="fas fa-search"></i></button>
             </form>
            <div class="compra_cuotas">
               <span><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</span>
            </div>
         </div>

         <nav>
            <section class="navbar">
               <ul>
                  <li><a href="/ofertas">Ofertas</a></li>
                  <li><a href="/tiendasoficiales">Tiendas Oficiales</a></li>
                  <li><a href="/vender">Vender</a></li>
                  <li><a href="/ayuda">Ayuda</a></li>
               </ul>
               <br />
               <ul>
                  <li><a href="/register">Crea tu cuenta </a><i class="far fa-id-card"></i></li>
                  <li><a href="/login">Ingresa </a><i class="fas fa-sign-in-alt"></i></li>
                  <li><a href="/compras">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
               </ul>
            </section>
         </nav>
         <button class="burguer-menu">
            <i class="fas fa-bars"></i>
         </button>
      </header>

      <main>
          <form action="" class="formulario" action="/" method="GET">
            <input class="ingreso_datos" type="text" placeholder="Nombre de usuario" />
            <input class="ingreso_datos" type="password" placeholder="Ingrese su contraseña" />
            <button class="button_register" type="submit">Ingresar</button>
          </form>
      </main>

      <footer>
         <article>
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
         </article>
         <article>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
         </article>
         <article>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
         </article>

         <article class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
         </article>
      </footer>
   </body>
</html>
