.formulario {
    min-width: 320px;
    max-width: 400px;
    padding: 30px;
    margin: auto;
}

.formulario h3 {
    margin-top: 0;
}

.ingreso_datos {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    border: none;
}

.formulario h4 {
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
}

.perfil_usuario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 15px;
}

.intereses {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.intereses_opciones {
    display: flex;
    margin-bottom: 15px;
}

.intereses input {
    width: 30%;
}

.intereses label {
    width: 70%;
    font-size: 12px;
}

.button_register {
    width: 100%;
    margin: 16px 0;
    border: none;
    padding: 10px;
    color: #fff;
    background-color: var(--color-celeste);
    border-radius: 10px;
}

.reset {
    background-color: var(--color-gris-oscuro);
}
